{% extends 'blog/base.html' %}

    {% block content %}
    
        {% if user.is_authenticated %}
            <form role="form" action="blog/upload_file" enctype="multipart/form-data" method="post">
                <div class="form-group">
                {% csrf_token %}
                {{form.fileplan}}
                </div>
                <button type="submit" class="btn btn-success" >Отправить</button>
            </form>

        {% endif %}
    </div>   
    {% endblock content %}
    
