{% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
        <div class="panel panel-info" >
	    <div class="panel-heading">
                {% if user.is_authenticated %}
<!--                     <a class="btn btn-default btn-xs" href="{% url "post_edit" post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> -->
                    <a class="btn btn-default btn-xs" href="{% url "post_del" post.pk %}" > <span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
                {{ post.published_date }}
            </div>
            <div class="panel-body"> <a href="">{{ post.text|linebreaks }}</a> </div>
	</div>
        {% endfor %}
        
        {% if user.is_authenticated %}
            <div class="panel panel-info" >
            
                <div class="panel-heading">Добавление новости</div>
                <form method="POST" action="post_new">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default" >Save</button>
                </form>
        {% endif %}
    </div>   
    {% endblock content %}